@import "https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css";

body {
  font-family: monospace;
  font-size: 250%;
}

/* ------------------------------------ */
/* COMBINED CHAT + VIDEO MODE (DEFAULT) */
/* ------------------------------------ */
@media screen and (min-device-width: 900px) and (min-width: 900px) {
  body {
    font-size: 125%;
  }

  body.combined main {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.skiplink {
  position: absolute;
  top: -6666px;
  left: -6666px;
}

main {
  height: 100vh;
}

.combined main,
.chat-only main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

@media screen and (min-device-width: 900px) and (min-width: 900px) {
  main {
    flex-direction: row;
    height: 100vh;
  }

  .stream {
    /* `display: flex` plus 100vh on <main> lets the video element stretch
   vertically */
    display: flex;
    height: 100vh;
    width: 100%;
  }
}

/* video.js overrides */
.video-js {
  width: 100%;
  height: auto;
}
/* keep the video from extending past the bottom of the screen in landscape mode
   (mostly for Android) */
@media screen and (max-device-width: 900px) and (max-device-height: 500px) {
  .video-js {
    height: 85vh;
  }
}

.video-js .vjs-tech {
  position: inherit !important;
}

header {
  text-align: center;
}

/* on desktop, pin the license notice to the bottom of the sidebar */
@media screen and (min-device-width: 900px) and (min-width: 900px) {
  .login {
    display: grid;
  }

  footer {
    align-self: end;
  }
}

.chat {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 100%;
  max-height: 100vh;
}

.chat nav {
  text-align: center;
}

.chat ul {
  padding: 0;
}

.chat li {
  display: inline;
}

.chat li:not(:first-child)::before {
  content: " // ";
}

/*hide deleted chat messages that follow another deleted message.*/
.deleted + .deleted {
	display: none;
}

/* login and signup */
form {
  display: block;
}

/* only display the connection status when there's a problem */
.chat-connected {
  display: none;
}

.chat-disconnected {
  color: red;
  display: block;
  text-align: center;
}

/* message log */
#log {
  border: 1px solid black;
  flex-basis: 100px;
  flex-grow: 5;
  hyphens: auto;
  overflow-wrap: anywhere;
  overflow-y: scroll;
}

#log a {
  word-break: break-all;
  word-wrap: break-word;
}

#log time {
  font-size: 75%;
}

/* text input and send button */
#chatform {
  display: flex;
  padding-top: 5px;
}

#text {
  flex: 4;
  height: 30px;
}

#send {
  flex: 1;
  height: 34px;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* combined <timestamp, username, message> */
.chat-message {
  margin: 0;
}

.chat-timestamp {
  color: gray;
}

#log.hide-timestamps .chat-timestamp {
  display: none;
}

.chat-username {
  font-weight: bold;
}

.error{
  color: red;
}
